{% extends "base.jinja" %}
{% block title %}
    Login/Signup For
{% endblock title %}
{% block styles %}
  {{ super() }}
  <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/form.css')}}"
  />
{% endblock styles %}
{% block content %}
<main>
    <h2 id="formTitle">Iniciar Sesión</h2>
  <form id="login-form">
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Iniciar sesión</button>

    <p class="toggle-form" onclick="toggleForm()">¿No tienes cuenta? Regístrate</p>
  </form>

  <form id="signup-form" style="display: none;">
    <label for="newUsername">Usuario:</label>
    <input type="text" id="newUsername" name="newUsername" required>
    <label for="newEmail">Correo</label>
    <input type="email" name="newEmail" id="newEmail" required>
    <label for="newPassword">Contraseña:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Registrarse</button>

    <p class="toggle-form" onclick="toggleForm()">¿Ya tienes cuenta? Inicia sesión</p>
  </form>
</main>
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
  const API_LOGIN = "{{url_for("AuthApi.login")}}"
  const API_SINGUP = "{{url_for("AuthApi.singup")}}"
</script>
<script src="{{url_for('static',filename='js/userForm.js')}}"></script>
{% endblock scripts %}